# Arquivos do sistema
.DS_Store
Thumbs.db

# Dependências do Composer
/vendor/*
!/vendor/.gitkeep

# Node modules
/node_modules/

# Arquivos de ambiente
.env
.env.*
!.env.example

# Arquivos de cache
*.log
*.cache

# IDEs e editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Inclui assets/vendor
!/assets/
!/assets/vendor/
!/assets/vendor/**
