# Arquivos do sistema
.DS_Store
Thumbs.db

# Node modules
/node_modules/

# Arquivos de ambiente
.env
.env.*
!.env.example

# Arquivos de cache
*.log
*.cache

# IDEs e editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
