RewriteEngine On
RewriteBase /advocacia/

# Regras para admin e atendimento
RewriteRule ^admin/$ admin/index.php [L]
RewriteRule ^atendimento/$ atendimento/index.php [L]

# Se a requisição começar com admin/ ou atendimento/, não redireciona para o index.php principal
RewriteCond %{REQUEST_URI} !^/advocacia/(admin|atendimento)/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Protege o arquivo .htaccess
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>