RewriteEngine On
RewriteBase /advocacia/atendimento/

# Se o arquivo/diretório não existe, redireciona para index.php do atendimento
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
