Options -Indexes
<IfModule mod_php7.c>
  php_value upload_max_filesize 128M
  php_value post_max_size 128M
  php_value max_execution_time 300
  php_value max_input_time 300
</IfModule>

<IfModule mod_php.c>
  php_value upload_max_filesize 128M
  php_value post_max_size 128M
  php_value max_execution_time 300
  php_value max_input_time 300
</IfModule>

AddType text/plain .cc .cpp .c .h .hpp
AddType application/x-httpd-php .php .php3 .php4 .php5 .phtml
AddType application/x-httpd-php-source .phps

<Files ~ "\.php$">
    Order Allow,Deny
    Allow from all
</Files>

<FilesMatch "\.(jpg|jpeg|png|gif|bmp|ico|svg|css|js)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
